<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous'>

        <link href='https://fonts.googleapis.com/css?family=Crimson+Text|Pinyon+Script' rel='stylesheet'>

        <link rel='stylesheet' href='css/styles.css' type='text/css' rel='stylesheet'>

        <title>Address Book</title>
    </head>
    <body>
        <div class='container'>
            <div class='jumbotron'>
                <h1 class='fancyfont'>An Address Book!</h1>
            </div>
            <div class='jumbotron'>
                <h2 class='fancyfont'>Add a New Contact:</h2>
                <form action='/create_contact' method='post'>
                    <div class='row typescript'>
                        <div class='col-md-3 textalign'>
                            <label for='contact_first_name'>First Name</label>
                            <input type='text' name='contact_first_name' id='contact_first_name'>
                        </div>
                            <div class='col-md-3 textalign'>
                            <label for='contact_last_name'>Last Name</label>
                            <input type='text' name='contact_last_name' id='contact_last_name'>
                        </div>
                        <br>
                        <br>
                    </div>
                    <div class='row typescript'>
                        <div class='col-md-3 textalign'>
                            <label for='contact_phone'>Phone Number</label>
                            <input type='text' name='contact_phone' id='contact_phone'>
                            <br>
                            <br>
                        </div>
                    </div>
                    <div class='row typescript'>
                        <div class='col-md-3 textalign'>
                            <label for='contact_street'>Street Address</label>
                            <input type='text' name='contact_street' id='contact_street'>
                        </div>
                        <div class='col-md-3 textalign'>
                            <label for='contact_city'>City</label>
                            <input type='text' name='contact_city' id='contact_city'>
                        </div>
                        <div class='col-md-3 textalign'>
                            <label for='contact_state'>State</label>
                            <input type='text' name='contact_state' id='contact_state'>
                        </div>
                        <div class='col-md-3 textalign'>
                            <label for='contact_zipcode'>Postal Code</label>
                            <input type='text' name='contact_zipcode' id='contact_zipcode'>
                        </div>
                        <br>
                        <br>
                        <div class='centeralign'>
                        <button type='submit'>Add Contact</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class='container'>
            {% if contacts is not empty %}
                <div class=jumbotron>
                    <h2 class='fancyfont'>Current Contacts</h2>
                    {% for contact in contacts %}
                        <ul class='typescript'>
                            <li>Contact Name: {{ contact.getContactFirstName }} {{ contact.getContactLastName}}</li>
                            <ul>
                                <li>Phone Number: {{ contact.getContactPhone }}</li>
                                <li>Address: {{ contact.getContactStreet}}
                                              <br>
                                              {{ contact.getContactCity }},                                          {{ contact.getContactState}} {{ contact.getContactZipcode}}
                                </li>
                            </ul>
                        </ul>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class='container typescript centeralign'>
            <form action='/delete_contacts' method='post'>
                <button type='submit'>Delete All Contacts!</button>
            </form>
        </div>
    </body>
</html>
